.main {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 150px;
}

.intro-box {
   text-align: center;
   margin-bottom: 75px;
}

.intro-heading {
    font-size: 2.9em;
    color: var(--theme-color);
}

.intro-p-box {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-bottom: 24px;
}

.intro-button {
    padding: 0.9em 3em;
    color: white;
    background-color: var(--theme-color);
    border: none;
    font-size: 1.2em;
    border-radius: 2px;
    transition: background-color 0.15s ease;
}

.intro-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}



.second-image {
    width: 100%;
    margin-bottom: 50px;
}



.meniu-box {
    margin-bottom: 100px;
}

.upper-bar {
    height: 2.5px;
    border: 1px solid black;
    width: 56px;
    background: white;
    margin-bottom: 12px;
    margin: 0 auto;
}

.meniu-title {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.pizza-title,
.more-food-title,
.extra-title {
    font-weight: 500;
    margin: 50px 0;
    font-size: 1.2em;
    text-align: center;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 70px;
}

.food-option {
    text-align: left;
}

.food-option-title {
    font-weight: 500;
    margin-bottom: 12px;
}

.food-price {
    margin-bottom: 10px;
    font-style: oblique;
}

.food-ingredients {
    margin: 1px 0;
    font-size: 0.95em;
}

.food-price,
.food-ingredients {
    color: rgba(0, 0, 0, 0.85);
}

.more-food-title {
    margin-top: 100px;
    margin-bottom: 60px;
}




/*.comments-box {
   
}  */

.comment-first-line {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-bottom: 8px;
}

.stars-time-box {
    display: flex;
    vertical-align: top;
    align-items: center;
}

.star-comment {
    width: 18px;
}

.time-comment {
    color: grey;
    margin-left: 12px;
    font-size: 0.9em;
}

.more-comments-box {
    padding: 8px 20px;
    margin-right: 16px;
    margin-top: 26px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;
}

.more-comments-box:hover {
    cursor: pointer;
}


.more-comments {
    width: 4px;
    margin-top: 6px;
}

.clicked-more-comments {
    position: absolute;
    top: 45px;
    right: 0;
    /*background: lightblue; */
    background: white;
    width: 260px;
    padding: 17px 0;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.clicked-more-comments a {
    color:  rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.clicked-more-comments p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 13px;
    padding: 12px 20px;
}

.clicked-more-comments p:hover {
    background-color: hsl(0, 0%, 95%);
}

.user-who-commented {
    color: var(--theme-color);
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
}


.review-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-container {
    margin: 0 10px;
}

.review-text {
    color: var(--theme-color);
    transition: color 0.2s ease;
    font-weight: 500;
    font-size: 18px;
}

.review-text:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.line-under {
    width: 100%;
    border: solid 1px transparent;
    border-bottom: solid 1px var(--theme-color);
    margin-bottom: 100px;
}


.services-box {
    background: rgba(0, 0, 0, 0.05);
    padding: 6em 9em;
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 0.85);
}




.images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 20px;
    row-gap: 15px;
    margin-top: 40px;
    margin-bottom: 150px;
}

.gallery-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transform: scale(0.98);
    transition: transform 0.5s ease;
}

.gallery-photo:hover {
    cursor: pointer;
    transform: scale(1);
}



.maps-image {
    margin-top: 40px;
    width: 100%;
}



.info-grid {
    margin-top: 70px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 100%;
}

.info-heading {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}

.info-button {
    color: hsla(0, 0%, 100%, 0.829);
    background-color: var(--theme-color);
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 21px 60px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}

.info-button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.info-description,
.working-program-box {
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
}

.working-program-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.working-hours {
    padding-right: 190px;
}


.footer {
    border: solid 1px transparent;
    border-top: solid 1px hsl(0, 0%, 76%);
    padding: 18px 0 72px 0;
    color: hsl(0, 0%, 76%);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: hsl(0, 0%, 76%);
    text-decoration: none;
}

.footer-google{
    font-size: 18px; 
}




.offer-section {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.offer-box {
    background-color: white;
    position: fixed;
    top: 15%;
    left: 34%;
    right: 30%;
    bottom: 15%;
    width: 500px;
    padding: 16px 24px;
    overflow: auto;
}


.offer-header-box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 55px;
}

.x-div {
    padding: 0 6px;
}

.x-div:hover {
    cursor: pointer;
}

.x-button {
    color: hsl(0, 0%, 58%);
}

.basic-inputs,
.email-input,
.textarea{
    outline: none;
    width: 100%;
    /*margin-bottom: 40px; */
    background: transparent;
    border: solid 1px transparent;
    border-bottom: solid 1px lightgrey;
    font-size: 17px;
    padding-bottom: 3px;
}

.basic-inputs {
   margin-bottom: 50px;
}

.basic-inputs::placeholder,
.email-input::placeholder {
    font-size: 17px;
    color: hsl(0, 0%, 76%);
}


.small-description,
.help-description,
.info-offer-description {
    margin: 4px 0;
    font-size: 12px;
    color: grey;
}

.help-description {
    font-size: 12px;
    margin: 15px 0 5px 0;
}

.textarea {
    font-family: Poppins, Roboto, Arial, sans-serif;
    resize: none;
    overflow: hidden;
    font-size: 15px;
}

.textarea::placeholder {
    font-size: 15px;
}

.submit-align-box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin: 40px 0;
}

.invisible {
    pointer-events: none;
    opacity: 0;
}

.submit {
    color: white;
    background-color: hsl(208, 100%, 50%);
    padding: 10px 0px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid hsl(208, 100%, 50%);
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
}

.submit:active {
    cursor: pointer;
    background-color: hsl(208, 100%, 36%);
}

.info-offer-description {
   margin: 20px 0;
   font-size: 13px;
}